@model IEnumerable<Obligatorio_11._2023_DB.Models.Reservas_Disponibles>

@{
    ViewData["Title"] = "FechasClinica";
}

<h1>Fechas Clínica</h1>
    @if (ViewBag.Mensaje != null)
    {
        <p>Mensaje: @ViewBag.Mensaje</p>
    }
<p>
    <a asp-controller="Home" asp-action="ActualizarFechasClinica">Agregar Fecha Disponible</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fch_Disponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fch_Disponible)
            </td>
        </tr>
}
    </tbody>
</table>
